<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>FilmOrder</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ControllerServlet</servlet-name>
		<servlet-class>by.epam.movieorder.controller.servlet.ControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerServlet</servlet-name>
		<url-pattern>/ControllerServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<jsp-file>/Login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<jsp-file>/Register.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MoviePage</servlet-name>
		<jsp-file>/Film.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoviePage</servlet-name>
		<url-pattern>/Film</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShoppingCart</servlet-name>
		<jsp-file>/ShoppingCart.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShoppingCart</servlet-name>
		<url-pattern>/ShoppingCart</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MainPage</servlet-name>
		<jsp-file>/MainPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainPage</servlet-name>
		<url-pattern>/MainPage</url-pattern>
	</servlet-mapping>
</web-app>